@model PM.Entity.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Note</h1>

<div>
	<hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Note
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteText)
        </dd>
        <dt class = "col-sm-2">
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            Updated
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestDescription)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

	@if (ViewData["ProductId"] == null)
	{
		<a asp-controller="Products" asp-action="CreateProduct" asp-route-id="@Model.RequestId" class="btn btn-warning">Add Product</a>
		<a asp-controller="ProductPackageTypes" asp-action="Create" asp-route-id="@ViewData["ProductId"]" class="btn btn-success disabled">Packages</a>
	}
	else
	{
		<a asp-controller="Products" asp-action="Details" asp-route-id="@ViewData["ProductId"]" class="btn btn-warning">View Product</a>
		<a asp-controller="ProductPackageTypes" asp-action="Index" asp-route-id="@ViewData["ProductId"]" class="btn btn-success">Packages</a>
	}
	<br />
	<a asp-action="Index" asp-route-id="@Model.RequestId">Back to Note List</a> <br />
	<a asp-controller="RequestsAdmin" asp-action="Details" asp-route-id="@Model.RequestId">Back to Request</a>
</div>
