@model IEnumerable<PM.Entity.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Notes</h1>

<p>
	<a asp-action="Create" title="Add a new Note"><i class="material-icons">add</i>Add Note</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.RequestDescription)
            </td>
            <td>
	            <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a> &nbsp;
	            <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a> &nbsp;
	            <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
