@model IEnumerable<PM.Entity.Models.Note>

@{
	ViewData["Title"] = "Notes";
}

<h1>Notes for Request: @PM.Business.Dto.RequestDto.RequestDescription</h1>
@if (@PM.Business.Dto.RequestDto.RequestId != null)
{
	<a asp-controller="Requests" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId">Back to Request</a> <br />
	<a asp-action="CreateNote" asp-route-id="@PM.Business.Dto.RequestDto.RequestId" title="Add a new Note"><i class="material-icons">add</i>Add Note</a><br/>
}

<br />
@foreach (var item in Model)
{
	<div class="card border-primary mb-3" style="max-width: 100%;">
		<div class="card-header">
			<div class="row">
				<a asp-action="Details" title="Details" asp-route-id="@item.Id" class="col-sm-2">Date: <br />@Html.DisplayFor(modelItem => item.CreatedOn)</a>
				<div class="col-sm-10" align="right">
					<a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a>
					<a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a>
					<a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
				</div>
			</div>
		</div>
		<div class="card-body text-dark">
			<div class="row">
				<div class="col-sm-6" style="padding-bottom: 10px">
					<p class="card-text">Note: @Html.DisplayFor(modelItem => item.NoteText)</p>
				</div>
				<div class="col-sm-6">
					<p class="card-text">Product: @Html.DisplayFor(modelItem => item.Request.Product.ProductName)</p>
					<p class="card-text">Supplier: @Html.DisplayFor(modelItem => item.Request.Supplier.SupplierName)</p>
					<a asp-controller="Requests" asp-action="Details" asp-route-id="@item.RequestId" class="control-label">
						<p class="card-text">Request: @Html.DisplayFor(modelItem => item.Request.RequestDescription)</p>
					</a><br />
					<p class="card-text">Submitted By: @Html.DisplayFor(modelItem => item.CreatedBy)</p>
				</div>
			</div>
		</div>
	</div>
}