@model IEnumerable<PM.Entity.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers</h1>

<p>
    <a asp-action="Create" title="Add a new Supplier"><i class="material-icons">add</i>Add Supplier</a>
</p>
<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
	        <td>
		        <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a> 
		        <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a> 
		        <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
	        </td>
        </tr>
}
    </tbody>
</table>
