@model IEnumerable<PM.Entity.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
	<a asp-action="CreateProduct" title="Add a new Product"><i class="material-icons">add</i>Add Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upccode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCost)
            </th>
            <th>
                Retail Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderWeek)
            </th>
	        <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upccode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderWeek)
            </td>
	        <td>
		        <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a> 
		        <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a> 
		        <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
	        </td>
        </tr>
}
    </tbody>
</table>
