@using PM.Business.Dto
@model PM.Entity.Models.ProductStoreSpecific

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Store Packaging</h4>
<h6>Original Product: @ViewData["ProductName"] (@ViewData["ProductPrice"])</h6>
<h6>Original Package: @ViewData["PackageName"] (@ViewData["PackagePrice"])</h6>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="PackageType.AlternateProductName" class="control-label">Package</label>
				<input asp-for="PackageType.AlternateProductName" class="form-control" disabled="disabled" />
			</div>
			<div class="form-group">
				<label asp-for="StoreName" class="control-label">Store</label>
				<input asp-for="StoreName" class="form-control" />
				<span asp-validation-for="StoreName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StoreCost" class="control-label">Store Cost</label>
				<input asp-for="StoreCost" class="form-control" />
				<span asp-validation-for="StoreCost" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StorePrice" class="control-label">Store Retail Price</label>
				<input asp-for="StorePrice" class="form-control" />
				<span asp-validation-for="StorePrice" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="CreatedBy" />
			<input type="hidden" asp-for="CreatedOn" />
			<input type="hidden" asp-for="UpdatedBy" />
			<input type="hidden" asp-for="UpdatedOn" />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
				@if (ViewData["NoteId"] == null)
				{
					<a asp-controller="Notes" asp-action="CreateNote" asp-route-id="@RequestDto.RequestId" class="btn btn-warning">Add Note</a>
				}
				else
				{
					<a asp-controller="Notes" asp-action="Index" asp-route-id="@RequestDto.RequestId" class="btn btn-warning">Notes</a>
				}

				<a asp-controller="Products" asp-action="Details" asp-route-id="@ViewData["ProductId"]" class="btn btn-success">Product</a> <br />
			</div>
		</form>
	</div>
</div>
<div>
	<a asp-action="Index" asp-route-id="@Model.PackageTypeId">Back to Store Pricing List</a> <br />
	@if (@PM.Business.Dto.RequestDto.RequestId != null)
	{
		<a asp-controller="Requests" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId">Back to Request</a>
	}
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
