@model IEnumerable<PM.Entity.Models.Request>

@{
    ViewData["Title"] = "Requests";
}

<h1 >Product Requests</h1>

<p>
	<a asp-action="CreateRequest" title="Add a new Request"><i class="material-icons">add</i>Add Request</a><br/>
</p>

<br />
@foreach (var item in Model)
{
	<div class="card border-dark mb-3" style="max-width: 100%; color: #6A0D1F">
		<div class="card-header">
			<div class="row">
				<a asp-action="Details" title="Details" asp-route-id="@item.Id" class="col-sm-2" style="color: #6A0D1F">Request: <br />@Html.DisplayFor(modelItem => item.RequestDescription)</a>
				<div class="col-sm-10" align="right">
					<a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a>
					<a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a>
					<a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
				</div>
			</div>
		</div>
		<div class="card-body text-dark">
			<div class="row">
				<div class="col-sm-6" style="padding-bottom: 10px">
					<p class="card-text">Product: @Html.DisplayFor(modelItem => item.Product.ProductName)</p>
					<p class="card-text">Requestor: @Html.DisplayFor(modelItem => item.CreatedBy)</p>
					<p class="card-text">Type: @Html.DisplayFor(modelItem => item.RequestType.RequestTypeName)</p>
				</div>
				<div class="col-sm-6">
					<p class="card-text">Supplier: @Html.DisplayFor(modelItem => item.Supplier.SupplierName)</p>
					<p class="card-text">Submitted On: @Html.DisplayFor(modelItem => item.CreatedOn)</p>
					<p class="card-text">Status: @Html.DisplayFor(modelItem => item.StatusType.StatusTypeName)</p>
				</div>
			</div>
		</div>
	</div>
}    