@model PM.Entity.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit this note</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NoteText" class="control-label">Note</label>
	            <textarea asp-for="NoteText" rows="5" cols="200" class="form-control"></textarea>
                <span asp-validation-for="NoteText" class="text-danger"></span>
            </div>
            <div class="form-group">
	            <input type="hidden" asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId"/>
            </div>
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="UpdatedOn" />
            <div class="form-group">
	            <input type="submit" value="Save" class="btn btn-primary" />
	            @if (ViewData["ProductId"] == null)
	            {
		            <a asp-controller="Products" asp-action="CreateProduct" asp-route-id="@Model.RequestId" class="btn btn-warning">Add Product</a>
		            <a asp-controller="ProductPackageTypes" asp-action="Create" asp-route-id="@ViewData["ProductId"]" class="btn btn-success disabled">Packages</a>
	            }
	            else
	            {
		            <a asp-controller="Products" asp-action="Details" asp-route-id="@ViewData["ProductId"]" class="btn btn-warning">View Product</a>
		            <a asp-controller="ProductPackageTypes" asp-action="Index" asp-route-id="@ViewData["ProductId"]" class="btn btn-success">Packages</a>
	            }
            </div>
        </form>
    </div>
</div>

<div>
	<a asp-action="Index" asp-route-id="@Model.RequestId">Back to Note List</a> <br />
	@if (@PM.Business.Dto.RequestDto.RequestId != null)
	{
		<a asp-controller="RequestsAdmin" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId">Back to Request</a>
	}
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
