@model IEnumerable<PM.Entity.Models.ProductPackageType>

@{
	ViewData["Title"] = "Index";
}

<h1>Alt Packages</h1>

@if (@ViewData["ProductId"] != null)
{
<a asp-controller="Products" asp-action="Details" asp-route-id="@ViewData["ProductId"]">Back to Parent Product: @ViewData["ProductName"]</a> <br />
	<a asp-action="Create" asp-route-id="@ViewData["ProductId"]" title="Add a new Package"><i class="material-icons">add</i>Add Alternate Package</a>
}
<br/>
<br />

@foreach (var item in Model)
{
<div class="card border-dark mb-3" style="max-width: 100%; color: #6A0D1F">
	<div class="card-header">
		<div class="row">
			<a asp-action="Details" title="Details" asp-route-id="@item.Id" class="col-sm-6" style="color: #6A0D1F">Package: <br />@Html.DisplayFor(modelItem => item.AlternateProductName)</a>
			<div class="col-sm-6" align="right">
				<a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="material-icons">update</i></a>
				<a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="material-icons">link</i></a>
				<a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="material-icons">remove_circle_outline</i></a>
			</div>
		</div>
	</div>
	<div class="card-body text-dark">
		<div class="row">
			<div class="col-sm-4" style="padding-bottom: 10px">
				<a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId" class="control-label">
					<p class="card-text">Parent Product: @Html.DisplayFor(modelItem => item.Product.ProductName)</p>
				</a><br />
				<p class="card-text">Product UPC (alt): @Html.DisplayFor(modelItem => item.AlternateProductUpccode)</p>
				<p class="card-text">Supplier: @Html.DisplayFor(modelItem => item.Supplier.SupplierName)</p>
			</div>
			<div class="col-sm-4" style="padding-bottom: 10px">
				<p class="card-text">Units Per Case: @Html.DisplayFor(modelItem => item.Unit)</p>
				<p class="card-text">Category: @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)</p>
				<p class="card-text">Parent Product UPC: @Html.DisplayFor(modelItem => item.Product.Upccode)</p>
				<p class="card-text">Supplier ID: @Html.DisplayFor(modelItem => item.SupplierData)</p>
			</div>
			<div class="col-sm-4" style="padding-bottom: 10px">
				<p class="card-text">Cost Per Case (alt): @Html.DisplayFor(modelItem => item.AlternateProductCost)</p>
				<p class="card-text">Retail Price (alt): @Html.DisplayFor(modelItem => item.AlternateProductPrice)</p>
				<p class="card-text">Suggested Retail Price (alt): @Html.DisplayFor(modelItem => item.AlternateSuggestedPrice)</p>
				<a asp-controller="Requests" asp-action="Details" asp-route-id="@PM.Business.Dto.RequestDto.RequestId" class="control-label">
					<p class="card-text">Request: @Html.DisplayFor(modelItem => @PM.Business.Dto.RequestDto.RequestDescription)</p>
				</a><br />
			</div>
		</div>
	</div>
</div>
}